<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<div align="center">
    <h1>Guess the Number Game</h1>
    <h3 id="main-message">Main Message Content</h3>
    <h3 id="result-message">Result Message Content</h3>

    <form href="play" action="play" method="post">
        <label for="guess">Enter your guess</label>
        <input id="guess" type="number" name="guess"/>
        <input type="submit" value="Submit"/>
    </form>

    <P><footer >
        <p>Created by sir.sammie</p>
    </footer>
    </P>
</div>


</body>
</html>